<div class="page-header">
  <ul class="list-inline pull-right">
    <li><%= link_to 'Show Task', @snip, :class=>"btn btn-success" %></li>
    <li><%= link_to 'Cancel', snips_path, :class=>"btn btn-default" %></li>
  </ul>
  <h4>Edit Snip</h4>
</div>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <%= render 'form', snip: @snip %>
  </div>
</div>





