<div class="page-header">
  <%= link_to 'Cancel', tasks_path, :class => "btn btn-default pull-right" %>
  <h2>New Task</h2>
</div>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <%= render 'form', task: @task %>
  </div>
</div>
